extends Layout

block content
  .container
    h1= game.Title
    hr
    .row
      .col-md-6
        //- Placeholder for game image
        img(src="/images/logo.png" alt=game.Title style="width:100%; max-width:400px;")
      .col-md-6
        h3 Description
        p= game.Description
        h4 Category: #{game.category}
        
        hr
        h5 Tip Contributor
        p Author: 
          a(href=`/user-profile/${game.User_ID}`) View Author Profile
        
        //- This link now connects to your app.get("/chat/:receiverId") route
        a(href=`/chat/${game.User_ID}?gameId=${game.id}`)
          button.btn.btn-primary Ask Author for more Tips
    
    hr
    h3 Community Discussion
    p.text-muted No comments yet. Be the first to start a conversation about this tip!